.itemLeft {
  width: auto;
  max-width: 300px; /* You can set this to an appropriate value to fit your content */
}

.itemRight {
  border-left: 2px solid #429400;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eachItem {
  display: flex;
  flex-direction: column;
}

.progress {
  height: 10px;
}

video {
  border-radius: 12px;
}

.predictedWordContainer {
  padding: 16px;
  background: #f7f7f7;
  border-radius: 8px;
}

.imageSection {
  padding: 16px;
  background: #f7f7f7;
  border-radius: 8px;
}
